
body {
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  
}

.encabezado {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vmax;
  background: black;
}

.marca {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.title1 {
  font-size: 3vmax;
  color: white;
  position: relative;
  font-size: 36px;
  text-align: center;
}

.title2 {
  margin-top: 5.5%;
  color: yellow;
}
.img_carrito{
    padding: 5%;
}
.carrito-compras {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 60%;
}

#carritoContainer {
  position: fixed;
  top: 0;
  right: 10%;
  z-index: 1000;
}

#tabla {
  display: none;
  color: black;
  background-color: white;
}

.publicidad {
  width: 100%;
  height: 4vmax;
  background: #fcdc31;
}

.tex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.fondo {
  background-image: url(fondo.png);
  width: 100%;
  height: 20vmax;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.promo {
  padding: 1% 0% 0% 9%;
  color: white;
  font-size: medium;
}

.barra {
  width: 25%;
  height: 1.9vmax;
  border-radius: 0.3vmax;
  border: 2px solid rgb(255, 208, 0);
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  text-align: center;
  justify-items: center;
  gap: 4vmax;
  margin-top: 3%;
}

.imgs {
  width: 13vmax;
  border: 5px solid #fcdc31;
}

.cards {
  width: 60%;
  height: auto;
  padding: 10%;
  background: rgb(0, 0, 0);
  border: 5px solid #fcdc31;
  color: #fcdc31;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255, 253, 253);
  transition: transform 0.2s;
}

.cards:hover {
  transform: scale(1.1);
}

.Descripcion {
  font-size: medium;
  color: white;
}

.precio {
  font-size: x-large;
}

.boton {
  background: #fcdc31;
  justify-items: center;
  width: 90%;
  height: 9%;
  color: black;
  border-radius: 5px;
  margin: 10%;
  font-weight: bold;
}

.boton:hover {
  background-color: rgb(255, 255, 255);
}

.pie {
  display: flex;
  flex-direction: row;
  gap: 4vmax;
  padding-left: 20%;
  background: rgb(0, 0, 0);
  color: white;
  margin-top: 130%; 
}

#tablaBody td:nth-child(1) {
    width:5vmax ;
    text-align: center;
    
  }
  

  #tablaBody td:nth-child(2) {
    background-color: black;
    color: #fcdc31;
    width:16vmax ;
    text-align: center;
  }

  #tablaBody td:nth-child(3) {
    width:6vmax ;
    text-align: center;
  }
  #tablaBody td:nth-child(4) {
    background-color: black;
    color: #fcdc31;
    width:3vmax ;
    text-align: center;
  }

  #tablaBody td:nth-child(5) {
    width:8vmax ;
    text-align: center;
  }

  #tablaBody td:nth-child(6) {
   
  
    width:6vmax ;
    text-align: center;
  }

.boton-vaciar{
  width: 15%;
  height: 1.9vmax;
  display: none;
  margin-left: 5%;
  border: none;
  border-radius: 0.2vmax;
  background-color: #fcdc31;
  font-weight: bold;
  
  
}

.crr{
  
  height: auto;
  padding: 1vmax;
}

.total-carrito {
  display: none;
  padding: 3%;
  font-weight: bold;
  background:white;
}

#tablaBody tr {
  background-color: #f2f2f2; 

}



 

